<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>To Do App</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h2>To Do App</h2>
        <div class="new-list">
          <input type="text" id="newListTitle" placeholder="Title" />
          <input
            type="text"
            id="newListDescription"
            placeholder="Description"
          />
          <button id="addListBtn">Add List</button>
          <div class="separator"></div>
        </div>
        <div class="lists">
          <ul id="listsContainer"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
