<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h2>Todo App</h2>
        <div class="new-list">
          <input type="text" id="newListTitle" placeholder="Title" />
          <input
            type="text"
            id="newListDescription"
            placeholder="Description"
          />
          <button id="addListBtn">Add List</button>
          <div class="separator"></div>
        </div>
        <div class="lists">
          <ul id="listsContainer"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
