<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <p class="todo-name">TO DO CRAB</p>

        <div class="button-group">
          <button id="login-button">Войти</button>
          <button id="login-button-signin">Зарегестрироваться</button>
        </div>
        
    </header>

    <main class="menu">
      <div class="menu-item">
        <img src="/src/img/plus.svg" class="plus-icon" alt="" />
        <input type="text" id="new-list" placeholder="New List" />
      </div>
    </main>

    <div id="details">
      <h2 id="title"></h2>
      <div class="task-creation">
        <input id="task-input" type="text" placeholder="New task..." />
        <button id="task-button">Add Task</button>
      </div>
      <div class="task-list"></div>
      
        <h2 class="title-completed">Completed</h2>
        <div class="completed"></div>
      </div>
    </div>

    <div id="background">
      <div id="pupop-window">
        <h3 id="pupop-title">Sign-In</h3>
        <input type="text" id="window-input-username" placeholder="Username" />
        <input
          type="password"
          id="window-input-password"
          placeholder="Password"
        />
        <p id="info-text">Пожалуйста создайте аккаунт</p>
        <p id="create-account" style="cursor: pointer; color: #9146FF; font-weight: 1000;">
          CREATE ACCOUNT
        </p>

        <button id="window-button">Sign In!</button>
      </div>
    </div>
  </body>

  <script src="/static/fetches.js"></script>
  <script src="/static/main.js"></script>
</html>
