<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="icon" href="../src/img/logo.ico">
    <link rel="stylesheet" href="/static/main.css" />
    <script src="https://rawgit.com/WeiChiaChang/Easter-egg/master/easter-eggs-collection.js"></script>
  </head>
  <body>
    <header>
      <img class="fullscreen-image" src="/src/img/sorry.jpg" alt="Fullscreen Image">
      <h3 class="mobile-text">TODOAPP временно не доступен на мобильных устройствах</h3>
      
      <div class="header">
        <div class="header-logo">
          <img src="../src/img/ugly_logo_negate.png" class="ugly-logo" alt="">
          <p class="todo-name">TODOAPP</p>
        </div>

        <div class="button-group">
          <button id="login-button-signin">Войти</button>
          <button id="login-button-signup">Зарегистрироваться</button>
          <button id="login-button-logout" style="display: none;">Выйти</button>
        </div>
        
    </header>

    <main class="menu">
      <div class="menu-item">
        <img src="/src/img/plus.svg" class="plus-icon" alt="" />
        <input type="text" id="new-list" style="font-size: 16px;" placeholder="Создать список" />
      </div>
    </main>

    <div id="details">
      <h2 id="title"></h2>
      <div class="task-creation">
        <input id="task-input" type="text" placeholder="Создать задачу..." />
        <button id="task-button">Добавить задачу</button>
      </div>
      <div class="task-list"></div>
      
        <h2 class="title-completed">Выполнено</h2>
        <div class="completed"></div>
      </div>
    </div>

    <div class="background-sign-in">
      <div id="signin-block">
        <h3 class="title-signin">Войти</h3>

        <div class="input-signin-block">
          <div class="first-input-signin">
            <label class="signin-label">Логин</label>
            <input type="text" class="signin-name-input" required>
            <p id="signin-error" style="display: none;"></p>
          </div>

          <div class="second-input-signin">
            <label class="signin-label">Пароль</label>
            <input type="password" class="signin-password-input" required>
            <p id="signin-error2" style="display: none;"></p>
          </div>
        </div>

        <div class="signin-down-block">
          <button id="signin-button">Войти</button>
          <span id="move-to-registr">Регистрация</span>
         
        </div>
      </div>
    </div>

    <div class="background-sign-up">
      <div id="signup-block">
        <h3 class="title-signup">Регистрация</h3>

        <div class="input-signup-block">
          <div class="first-input-signup">
            <label class="signup-label">Логин</label>
            <input type="text" class="signup-name-input" required>
            <p id="error-user-message" ></p>
          </div>

          <div class="second-input-signup">
            <label class="signup-label">Пароль</label>
            <input type="password" class="signup-password-input" required>
            <p id="error-message"></p>
            <p class="signin-condition">Ваш пароль должен содержать как минимум:</p>

            <div class="validation-item">
              <!-- <input type="checkbox" id="length-check" disabled> -->
              <img src="../src/img/checkbox.svg" id="checkbox-length" alt="">
              <label for="length-check" id="length-label">8 символов</label>
            </div>

            <div class="validation-item">
              <!-- <input type="checkbox" id="number-check" disabled> -->
              <img src="../src/img/checkbox.svg" id="checkbox-number" alt="">
              <label for="number-check" id="number-label">1 цифру</label>
            </div>

            <div class="validation-item">
              <!-- <input type="checkbox" id="letter-check" disabled> -->
              <img src="../src/img/checkbox.svg" id="checkbox-letter" alt="">
              <label for="letter-check" id="letter-label">1 большую и маленькую букву</label>
            </div>
          </div>
        </div>

        <div class="signup-down-block">
          <button id="signup-button">Зарегистрироваться</button>
          
          
        </div>
      </div>
    </div>

  </body>

  <script src="/static/fetches.js"></script>
  <script src="/static/main.js"></script>
  
</html>
